html, body{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "godic";
}

#half{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#left{
    background-color: black;
    height: 100vh;
    background-image: url(img/main.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

#mainright{
    display: grid;
    grid-template-rows: auto 1fr auto;
}

#signupright{
    display: grid;
    grid-template-rows: auto 1fr auto auto;
}

#start{
    padding: 4vh;
    text-align: center;
    width: auto;
}

#logo{
    max-width: 40%;
    height: auto;
}

h1{
    font-family: "godic";
    font-size: 80px;
    margin: 0;
}

h2{
    font-family: "godic";
    font-size: 30px;
    margin:0;
}

#signupinfo{
    text-align: center;
}

#login{
    position: table;
    bottom: 0;
    padding: 3vh;
}

.button {
    font-size: large;
    background-color: #1b1b1b;
    color: #ffffff;
    width: 100%;
    height: 7vh;
    border-radius: 10px;
    transition: 1s;
    font-family: "godic";
}

.button:hover{
    background: #8e8e8e;
}

.textbox{
    width: 80%;
    height: 4vh;
    font-size: 150%;
    font-family: "godic";
    border-radius: 10px;
    transition: 1s;
}

.textbox:hover{
    background-color: #dadada;
}
#signup{
    text-align: center;
}

#signupbutton{
    position: table;
    bottom: 0;
    padding: 3vh;
}
@font-face {
    font-family: "godic";
    src: url(fonts/a고딕14.ttf);
}

