html, body{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "godic";
}

.half{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left{
    background-color: black;
    height: 100%;
    background-image: url(img/main.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.indexRight{
    display: grid;
    grid-template-rows: 3fr 1fr;
    height: 100vh;
}

.right{
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    height: 100vh;
}

.start{
    padding: 4vh;
    text-align: center;
    width: auto;
    display: grid;
    grid-auto-rows: 1fr auto 1fr;
}

#logo{
    max-width: 50%;
    height: auto;
}

h1{
    font-family: "godic";
    font-size: 4rem;
    margin: 0;
    font-weight: 500;
}

h2{
    font-family: "godic";
    font-size: 1.875rem;
    margin: 0;
    font-weight: 500;
}

#info{
    text-align: center;
}

#login{
    position: table;
    bottom: 0;
    padding: 3vh;
}

.button {
    font-size: 200%;
    background-color: #FFE27A;
    color: black;
    width: 100%;
    height: 7vh;
    border-radius: 10px;
    border-style: hidden;
    transition: 1s;
    font-family: "godic";
    font-weight: 500;

}

.button:hover{
    background: #ffc800;
    height: 10vh;
}

.textbox{
    width: 80%;
    height: 6vh;
    font-size: 150%;
    font-family: "godic";
    border-radius: 10px;
    transition: 1s;
    border-style: hidden;
    border-bottom-color: black;
    font-weight: 500;
}

.textbox:hover{
    background-color: #FFE27A;
}

#signup{
    text-align: center;
}

#button{
    position: table;
    bottom: 0;
    padding: 3vh;
}

@font-face {
    font-family: "godic";
    src: url(fonts/a고딕14.ttf);
}

@media all and (max-width:1023px) { /*모바일, 테블릿 세로*/
    .half{
        display: grid;
        grid-template-columns: 0fr 1fr;
    }

    h1{
        font-family: "godic";
        font-size: 600%;
        margin: 0;
    }
    
    h2{
        font-family: "godic";
        font-size: 300%;
        margin:0;
    }
}